@tailwind base;
@tailwind components;
@tailwind utilities;


.image {
  border: 1px solid #000;
  border-radius: 8px;
  width: 100%;
  height: 200px; /* Set the fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.dropdown {
  z-index: 1000; /* Adjust the value as needed */
}



.home-container {
  overflow: hidden; /* or overflow: auto; depending on your layout */
}